*{
    box-sizing: border-box;
}
.is_active{
    color:red;
}
html{
    font-size:62.5%;
    font-family: sans-serif;
    line-height:1.3;
}
body {
    font-size: $m-size;
    color: $dark-grey;
}
button:disabled{
    cursor:not-allowed;
}
button{
    cursor: pointer;
}